@model ProductModel
@{
    ViewData["title"] = "Create";
}
<h4>Create Product</h4>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <div class="from-group">
            <label>Name</label>    
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="from-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger" />
        </div>

        <div class="from-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>

        <div class="from-group">
            <label>Category</label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories">
                <option>-- chose a category</option>
            </select>
            <span asp-validation-for="CategoryID" class="text-danger" />
        </div>

        <div class="from-group">
            <label>Brand</label>
            <select asp-for="BrandID" class="form-control" asp-items="ViewBag.Brands">
                <option>-- chose a brand</option>
            </select>
            <span asp-validation-for="BrandID" class="text-danger" />
        </div>

        <div class="from-group">
            <label>Image</label>
            <input asp-for="ImageUpload" class="form-control" />
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <img id="imgpreview" class="pt-2" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>

    <a asp-action="Index">back list product</a>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.ckeditor.com/4.25.1-lts/standard/ckeditor.js"></script>
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
    <script>
        CKEDITOR.replace( 'Description' );
    </script>
}
